.DS_Store
Resources/.DS_Store
Resources/android/.DS_Store
build/iphone/build/*
build/android/bin/*
build/.DS_Store
build/iphone/Resources/libTiCore.a
build/iphone/Classes/*
build/iphone/lib/*
build/iphone/headers/*
build/iphone/project.*
Resources/javascripts/keys.js